/* styles.css */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


@font-face {
    font-family: Segoe;
    src: url(/segoe.ttf);
  }

body {
    font-family: Inter, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    height: 100vh;
    background-color: #0c0c0c;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    background-color: #0c0c0c;
    height: 30px;
    color: white;
    padding: 10px;
    border-bottom: 1px solid #313131;
}

.btn {
    padding: 7px;
    background-color: #FFFFFF1A;
    border: 1px solid #616161;
    font-family: Inter;
    cursor: pointer;
    font-size: 14px;
    align-items: center;
    margin-top: 9px;
    color: #F2f2f2;
    border-radius: 5px;
    float: right;
    transition: all 350ms;
    margin-right: 20px; 
}

.btn:hover {
    background-color: #616161;
}

.logo {
    display: flex;
    user-select: none;
}

.navbar img {
    width: 30px;
    height: 30px;
    margin-left: 1vh;
    align-self: center;
}

.navbar span {
    flex-grow: 1;
}



.container {
    display: flex;
    width: 100%;
    height: calc(100% - 50px);
}

.sidebar {
    background-color: #0D0D0D;
    color: white;
    width: 501px;
    box-sizing: border-box;
    border-right: 1px solid #313131;
}

.sidebar h3 {
    margin: 0;
    padding-bottom: 1px;
    margin-top: 5px;
    padding-top: 10px;
    font-size: 11px;
    font-family: "Segoe";
    padding-left: 20px;
    cursor: default;
    font-weight: 100;
}

.sidebar ul {
    list-style-type: none;
    cursor: pointer;
    padding: 0;
}

.sidebar ul li a {
    display: block;
    width: calc(100% - 1px);
    color: #ADADAD;
    cursor: pointer;
    text-decoration: none;
    font-family: "Segoe";
    height: 22px;
    border: 1px solid transparent;
    padding: 2px 20px;
    font-size: 13px;
    box-sizing: border-box; 
}

.sidebar ul li a:hover {
    background-color: #272727;
}

.sidebar ul li a:focus {
    border: 1px solid rgb(255, 218, 56);
    background-color: #414141;
}





.editor-container {
    width: 100%;
    background-color: #131313;
    color: #FFF;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.editor-section {
    flex-grow: 1;
    display: flex;
    border-right: 1px solid #313131;
    flex-direction: column;
}

textarea {
    flex-grow: 1;
    font-family: "Fira Code";
    font-size: 14px;
    padding: 10px;
    border: 1px solid #ccc;
    color: white;
    background-color: #1A1A1A;
    border-radius: 5px;
    margin-bottom: 10px;
    resize: none;
}

.CodeMirror {
    background-color: #1A1A1A !important;
    font-family: "Fira Code", monospace !important;
    font-weight: 100;
    color: #FFF;
}

.CodeMirror,
.CodeMirror pre,
.CodeMirror-scroll {
    color: white !important;
}

.cm-s-default .cm-header {
    color: #ff9900; 
}
.cm-s-default .cm-comment {
    color: #6a9955; 
}
.cm-s-default .cm-keyword {
    color: #cc99cc; 
}
.cm-s-default .cm-string {
    color: #d8d8d8;
}
.cm-s-default .cm-operator {
    color: #ffcc66; 
}
.cm-s-default .cm-number {
    color: #f99157; 
}
.cm-s-default .cm-variable {
    color: #6699cc; 
}

button {
    align-self: flex-start;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;
}


.container {
    display: flex;
    width: 100%;
    height: calc(100% - 50px);
}




.editor-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.editor-section {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

textarea {
    flex-grow: 1;
    font-family: "Fira Code";
    font-size: 14px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    resize: none;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;
}

#live-preview {
    width: 80%;
    display: flex;
    flex-direction: column;
    background-color: #0c0c0c;
    border-left: 1px solid #313131;
    color: #FFF;
}

#live-preview h3 {
    margin: 0;
    font-family: "Inter";
    font-weight: 400;
    font-size: 14px;
    padding: 9.4px;
}



iframe {
    border: none;
    width: 100%;
    border-top: 1px solid #313131;
    box-sizing: border-box;
    color: #ffffff;
    background-color: rgb(255, 255, 255);
    flex-grow: 1; 
}


    .editor-section {
        height: 100%;
    }

    .CodeMirror cm-s-default {
        height: 100vh;
    }


    .file {
        border-right: 1px solid #313131;
        border-bottom: 1px solid transparent;
        background-color: #1A1A1A;
        font-size: 13px;
        font-family: "Segoe";
        font-weight: 400;
        padding: 0 3px 0 10px;
        margin: 0;
        height: 35px;
        width: 80px;
        z-index: 999;
        display: flex;
        align-items: center;
    }
    
    
.tab {
    border-bottom: 1px solid #313131;
    background-color: #0c0c0c;
    align-items: center;
}


    .html-code {
        height: 100%;
    }